<!-- <app-zero-configuration></app-zero-configuration> -->
<!-- <app-with-options></app-with-options> -->
<!-- <app-ajax-dt></app-ajax-dt> -->
<!-- <app-server-side></app-server-side> -->
<!-- <app-row-click></app-row-click> -->
<!-- <app-multiple-tables></app-multiple-tables> -->
<!-- <app-fetching-dt-instances></app-fetching-dt-instances> -->
<!-- <app-load-dt-options-promise></app-load-dt-options-promise> -->
<!-- <app-using-pipes></app-using-pipes> -->
<!-- <app-using-template-ref></app-using-template-ref> -->
<app-rerender-table></app-rerender-table>